version: "3.7"

services:
  postgres:
    image: postgres:alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: northstar_store_db
    ports:
      - "5435:5432"
    volumes:
      - northstar_store_pgdata:/var/lib/postgresql/data

volumes:
  northstar_store_pgdata:
