server:
  port: 8187
  error:
    whitelabel:
      enabled: false

spring:
  application:
    name: northstar-store-service
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${AUTH_SERVER_URL:http://localhost:8181/api/auth/oauth2/jwks}
  jpa:
    hibernate.ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    generate-ddl: true
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5435}/${DB_NAME:northstar_store_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:root}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
      initialization-fail-timeout: 0

store:
  msg: "Welcome to NorthStar Store Service"
  build-version: 1.0.0
  base-url: ${BASE_URL:http://localhost:8181}

info:
  app:
    name: Store MicroService
    description: NorthStar Retail Store Service
    version: 1.0.0

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0

openapi:
  service:
    title: NorthStar Store Service Docs
    version: 1.0.0
    url: ${OPENAPI_GATEWAY_URL:http://localhost:8181/api/store}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVER_URL:http://localhost:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
